/*Alignment of Personal Information*/
*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	min-width: 992px;
}


/*Length and width of the canvas*/
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
	min-width: 540px;
}

/*Horizontal border line*/
hr {
	border-top-color: #007B7A;
	border-bottom-color: #007B7A;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.row {
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
	width: 100%;
}

.a, .x,
.z,.d, 
.c, .y,
.b{
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.a {
	max-width: 50%;
}

.x {
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

.z {
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

 h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}


/*Donald Arienza Juan*/

h1 {
	text-align: center;
	width: 220%;
	color: #007B7A;
}
h2 {
	text-align: center;
}

b {
	font-weight: bolder;
	color: #007B7A;
	text-align: center;
}
strong {
	font-weight: bolder;	
}

/*About Me, etc. Font size*/
h5, .h5 {
	font-size: 1.25rem;
}

/*About Me Positioning*/
.media {
	display: flex;
	align-items: flex-start;
}
.mr-3, .mx-3 {
	margin-right: 1rem 
}

.media-body {
	flex: 1;
}

.mt-0, .my-0 {
	margin-top: 0;
}

/*Personal Informations*/
address {
	font-style: normal;
	line-height: inherit;
}

/*Personal Info (Brought to right)*/
.d {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.c {
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}

.y{
	max-width: 100%;	
}

.m-1 {
	margin: 0.25rem ;
}

.b {
	flex: 0 0 50%;
	max-width: 50%;
}

.e {
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}

.a {
	max-width: 50%;
}

.text-right {
	text-align: right;
}

.badge {
	border: 1px solid #007B7A;
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
}

.badge-secondary {
	color: #fff;
	background-color: #007B7A;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
	text-align: justify;
}

h4, .h4 {
	font-size: 1.5rem;
	width: 250%;
}

/*Grid of Pics 3x2*/
.f {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

/*Containers for Portfolio*/ 
.img-thumbnail {
	padding: 0.25rem;
	background-color: #fff;
	border: 1px solid #007B7A;
	border-radius: 0.25rem;
	max-width: 100%;
	height: 200px;
	width: 300px
}




/*Skills and Abilities*/

/*Putting words into gray rectangles*/
.progress {
	display: flex;
	height: 1rem;
	overflow: hidden;
	font-size: 0.75rem;
	background-color: #e9ecef;
	border-radius: 0.25rem;
}

/*Separating Words at Wordpress,etc.*/ 
.mt-4, .my-4 {
	margin-top: 1.5rem;
}

/*All blue into progress bar*/
.progress-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	text-align: center;
	background-color: #007bff;
	transition: width 0.6s ease;
}

/*Green*/
.bg-success {
	background-color: limegreen; 
}

/*Photoshop, illustrator color*/
.bg-info {
	background-color: #17a2b8;
}

/*Yellow*/
.bg-warning {
	background-color: #ffc107; 
}

/*Red*/
.bg-danger {
	background-color: #dc3545 !important;
}

